# Arquivos do Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos do IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Arquivos do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos do VS Code
.vscode/
.devcontainer/

# Arquivos de Log
*.log

# Arquivos temporários, como .tmp, .swp, .bak, etc
*~
*.tmp
*.temp
*.swp
*.bak

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
*.env

# Arquivos de configuração
*.cfg
*.conf

# Arquivo de classe compilado
*.class

# Arquivos do BlueJ
*.ctxt

# Ferramentas móveis para Java (J2ME)
.mtj.tmp/

# Arquivos de pacote
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de falha da máquina virtual
hs_err_pid*
replay_pid*
